body {
  font-family: 'Roboto', sans-serif !important;
}

.body {
  padding: 2em 0;
}

.table {
  margin-bottom: 4em;
}

.navbar {
  background: rgb(67, 224, 172) !important;
}

.bg-light {
  background: unset !important;
}

