body {
  font-family: 'Roboto', sans-serif !important;
  color: #616161;
  margin-top: 4em;
  background: #e9ebee;
}

.content {
  background: white;
  padding: 1em;
  border-radius: 10px;
  -webkit-box-shadow: 9px 9px 11px -4px rgba(0,0,0,0.51);
-moz-box-shadow: 9px 9px 11px -4px rgba(0,0,0,0.51);
box-shadow: 9px 9px 11px -4px rgba(0,0,0,0.51);
}

.body {
  padding: 2em 0;
}

.table {
  margin-bottom: 4em;
}

.navbar {
  background: rgb(67, 224, 172) !important;
}

.bg-light {
  background: unset !important;
}

/* Navbar */

.navbar {
  -webkit-box-shadow: -1px 4px 11px 0px rgba(0,0,0,0.36);
-moz-box-shadow: -1px 4px 11px 0px rgba(0,0,0,0.36);
box-shadow: -1px 4px 11px 0px rgba(0,0,0,0.36);
}

.nav-link {
  color: #616161;
  text-transform: uppercase
}

/* Sidebar */
.sidebar-logo {
  padding: .5em;
  text-align: center;
  background: rgb(67, 224, 172);
  font-size: 30px;
}

.sidebar-logo p {
  margin: unset;
}

.sidebar-item .nav-item{
  padding: 5px 1em;
}

.sidebar-item .nav-item:hover {
  background: rgb(67, 224, 172);
}

.sidebar-item .nav-item:hover a {  
  color: white !important;
}

