.map {
  left: 500;
  width: 500;
  height: 500;
}

.censor-btn {
  border-radius: 0 !important;
  position: absolute;
  text-align: center;
  background-color: green;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 10px;
  padding: 13px 13px;
}

/* Style the button and place it in the middle of the container/image */

/*sensor row1 */

.container .censor-btn#sensor-0 {
  top: 23px;
  left: 61px;
}

.container .censor-btn#sensor-1 {
  top: 23px;
  left: 105px;
}

.container .censor-btn#sensor-2 {
  top: 23px;
  left: 150px;
}

.container .censor-btn#sensor-3 {
  top: 23px;
  left: 219px;
}

.container .censor-btn#sensor-4 {
  top: 23px;
  left: 259px;
}

.container .censor-btn#sensor-5 {
  top: 23px;
  left: 329px;
}

.container .censor-btn#sensor-6 {
  top: 23px;
  left: 374px;
  width: 63.5px;
}

.container .censor-btn#sensor-7 {
  top: 23px;
  left: 460px;
}

.container .censor-btn#sensor-8 {
  top: 23px;
  left: 505px;
  width: 63.5px;
}

/* row2  */

.container .censor-btn#sensor-9 {
  top: 112px;
  left: 61px;
}

.container .censor-btn#sensor-10 {
  top: 112px;
  left: 130px;
}

.container .censor-btn#sensor-11 {
  top: 112px;
  left: 173px;
  width: 63.5px;
}

.container .censor-btn#sensor-12 {
  top: 112px;
  left: 262px;
}

.container .censor-btn#sensor-13 {
  top: 112px;
  left: 306px;
  width: 63.5px;
}

.container .censor-btn#sensor-14 {
  top: 112px;
  left: 395px;
}

.container .censor-btn#sensor-15 {
  top: 112px;
  left: 440px;
  width: 63.5px;
}

.container .censor-btn#sensor-16 {
  top: 112px;
  left: 526px;
}

/* row3  */

.container .censor-btn#sensor-17 {
  top: 200px;
  left: 128px;
  width: 63.5px;
}

.container .censor-btn#sensor-18 {
  top: 200px;
  left: 215px;
}

.container .censor-btn#sensor-19 {
  top: 200px;
  left: 260px;
}

.container .censor-btn#sensor-20 {
  top: 200px;
  left: 323px;
  width: 18px;
}

.container .censor-btn#sensor-21 {
  top: 200px;
  left: 392px;
}

.container .censor-btn#sensor-22 {
  top: 200px;
  left: 460px;
}

.container .censor-btn#sensor-23 {
  top: 200px;
  left: 505px;
  width: 63.5px;
}

/* row 4 */

.container .censor-btn#sensor-24 {
  top: 289px;
  left: 40px;
  width: 63.5px;
}

.container .censor-btn#sensor-25 {
  top: 289px;
  left: 128px;
}

.container .censor-btn#sensor-26 {
  top: 289px;
  left: 173px;
  width: 63.5px;
}

.container .censor-btn#sensor-27 {
  top: 289px;
  left: 260px;
}

.container .censor-btn#sensor-28 {
  top: 289px;
  left: 305px;
  width: 64px;
}

.container .censor-btn#sensor-29 {
  top: 289px;
  left: 393px;
}

.container .censor-btn#sensor4-6 {
  position: absolute;
  top: 51%;
  left: 144%;
}

.container .censor-btn#sensor4-7 {
  position: absolute;
  top: 51%;
  left: 163%;
}

/* row 5 */

.container .censor-btn#sensor5-0 {
  position: absolute;
  top: 71%;
  left: 22%;
}

.container .censor-btn#sensor5-1 {
  position: absolute;
  top: 71%;
  left: 39%;
}

.container .censor-btn#sensor5-2 {
  position: absolute;
  top: 71%;
  left: 52%;
}

.container .censor-btn#sensor5-3 {
  position: absolute;
  top: 71%;
  left: 68%;
}

.container .censor-btn#sensor5-4 {
  position: absolute;
  top: 71%;
  left: 95%;
}

.container .censor-btn#sensor5-5 {
  top: 71%;
  left: 110%;
}

.container .censor-btn#sensor5-6 {
  top: 71%;
  left: 130%;
}

.container .censor-btn#sensor5-7 {
  top: 71%;
  left: 145%;
}

.container .censor-btn#sensor5-8 {
  top: 71%;
  left: 163%;
}

/* row 6 */

.container .censor-btn#sensor6-0 {
  top: 82%;
  left: 19%;
}

.container .censor-btn#sensor6-1 {
  top: 82%;
  left: 49%;
}

.container .censor-btn#sensor6-2 {
  top: 82%;
  left: 75%;
}

.container .censor-btn#sensor6-3 {
  top: 82%;
  left: 88%;
}

.container .censor-btn#sensor6-4 {
  top: 82%;
  left: 128%;
}

.container .censor-btn#sensor6-5 {
  top: 82%;
  left: 150%;
}

.container .censor-btn#sensor6-6 {
  top: 82%;
  left: 163%;
}

.container .censor-btn#sensor-safe {
  background-color: green;
}

.container .censor-btn#sensor-danger {
  background-color: red;
}

.container .censor-btn#btn-safe {
  background-color: green;
}

.container .censor-btn#btn-danger {
  background-color: red;
}

.container .censor-btn:hover {
  background-color: black;
}