.map {
  left: 310;
}

.censor-btn {
  border-radius: 0 !important;
  position: absolute;
  text-align: center;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 10px;
  padding: 12px 12px;
}

/* Style the button and place it in the middle of the container/image */

/*sensor row1 */

.container .censor-btn#sensor-0 {
  top: 25px;
  left: 60px;
}

.container .censor-btn#sensor-1 {
  top: 25px;
  left: 105px;
}

.container .censor-btn#sensor-2 {
  top: 25px;
  left: 150px;
}

.container .censor-btn#sensor-3 {
  top: 25px;
  left: 219px;
}

.container .censor-btn#sensor-4 {
  top: 25px;
  left: 261px;
}

.container .censor-btn#sensor-5 {
  top: 25px;
  left: 329px;
}

.container .censor-btn#sensor-6 {
  top: 25px;
  left: 374px;
  width: 63.5px;
}

.container .censor-btn#sensor-7 {
  top: 25px;
  left: 460px;
}

.container .censor-btn#sensor-8 {
  top: 25px;
  left: 505px;
  width: 63.5px;
}

/* row2  */

.container .censor-btn#sensor-9 {
  top: 112px;
  left: 61px;
}

.container .censor-btn#sensor-10 {
  top: 112px;
  left: 130px;
}

.container .censor-btn#sensor-11 {
  top: 112px;
  left: 173px;
  width: 63.5px;
}

.container .censor-btn#sensor-12 {
  top: 112px;
  left: 262px;
}

.container .censor-btn#sensor-13 {
  top: 112px;
  left: 306px;
  width: 63.5px;
}

.container .censor-btn#sensor-14 {
  top: 112px;
  left: 395px;
}

.container .censor-btn#sensor-15 {
  top: 112px;
  left: 440px;
  width: 63.5px;
}

.container .censor-btn#sensor-16 {
  top: 112px;
  left: 526px;
}

/* row3  */

.container .censor-btn#sensor-17 {
  top: 200px;
  left: 128px;
  width: 63.5px;
}

.container .censor-btn#sensor-18 {
  top: 200px;
  left: 215px;
}

.container .censor-btn#sensor-19 {
  top: 200px;
  left: 260px;
}

.container .censor-btn#sensor-20 {
  top: 200px;
  left: 325px;
  width: 18px;
}

.container .censor-btn#sensor-21 {
  top: 200px;
  left: 392px;
}

.container .censor-btn#sensor-22 {
  top: 200px;
  left: 460px;
}

.container .censor-btn#sensor-23 {
  top: 200px;
  left: 505px;
  width: 63.5px;
}

/* row 4 */

.container .censor-btn#sensor-24 {
  top: 289px;
  left: 40px;
  width: 63.5px;
}

.container .censor-btn#sensor-25 {
  top: 289px;
  left: 128px;
}

.container .censor-btn#sensor-26 {
  top: 289px;
  left: 173px;
  width: 63.5px;
}

.container .censor-btn#sensor-27 {
  top: 289px;
  left: 260px;
}

.container .censor-btn#sensor-28 {
  top: 289px;
  left: 305px;
  width: 64px;
}

.container .censor-btn#sensor-29 {
  top: 289px;
  left: 393px;
}

.container .censor-btn#sensor-30 {
  top: 289px;
  left: 439px;
  width: 64px;
}

.container .censor-btn#sensor-31 {
  top: 289px;
  left: 525px;
}

/* row 5 */

.container .censor-btn#sensor-32 {
  top: 375px;
  left: 58px;
  width: 10px;
}

.container .censor-btn#sensor-33 {
  top: 375px;
  left: 105px;
}

.container .censor-btn#sensor-34 {
  top: 375px;
  left: 150px;
}

.container .censor-btn#sensor-35 {
  top: 375px;
  left: 195px;
  width: 63.5px;
}

.container .censor-btn#sensor-36 {
  top: 375px;
  left: 282px;
}

.container .censor-btn#sensor-37 {
  top: 375px;
  left: 327px;
  width: 65px;
}

.container .censor-btn#sensor-38 {
  top: 375px;
  left: 392px;
}

.container .censor-btn#sensor-39 {
  top: 375px;
  left: 438px;
  width: 65px;
}

.container .censor-btn#sensor-40 {
  top: 375px;
  left: 526px;
}

/* row 6 */

.container .censor-btn#sensor-41 {
  top: 465px;
  left: 37px;
}

.container .censor-btn#sensor-42 {
  top: 465px;
  left: 128px;
  width: 65px;
}

.container .censor-btn#sensor-43 {
  top: 465px;
  left: 217px;
}

.container .censor-btn#sensor-44 {
  top: 465px;
  left: 263px;
  width: 65px;
}

.container .censor-btn#sensor-45 {
  top: 465px;
  left: 393px;
  width: 65px;
}

.container .censor-btn#sensor-46 {
  top: 465px;
  left: 482px;
}

.container .censor-btn#sensor-47 {
  top: 465px;
  left: 525px;
}

.container .censor-btn#sensor-safe {
  background-color: green;
}

.container .censor-btn#sensor-danger {
  background-color: red;
}

.container .censor-btn:hover {
  background-color: black;
}
